<h1>Add Message</h1>

<% if @message.errors.any? %>
  <p>Error ya! </p>
  <ul>
    <% @message.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @message do |f| %>
  <%= f.label :to %>
  <%= f.text_field :to %><br>
  <%= f.label :from %>
  <%= f.text_field :from %><br>
  <%= f.label :body %>
  <%= f.text_area :body %><br>
  <%= f.submit class: "btn btn-sm btn-info" %>
<% end %>
