<!DOCTYPE html>
<html>
<head>
  <title>Creepy Message Sender</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <%= yield %>
  <br>
  <%= flash[:notice] %>
</div>

</body>
</html>
